# Entorno virtual
venv/
env/
.venv/

# Variables de entorno (aquí pondremos la API key)
.env
config_local.py

# Archivos de Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Bases de datos locales o archivos pesados
*.db
*.sqlite3
chromedriver*
data/
vector_store/
embeddings/

# IDEs y editores
.idea/
.vscode/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db

# diapositivas
*.typ
*.pdf
